@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Sistema de Cadastro de Clientes!</h1>
    <p class="lead">Este é um sistema para gerenciar cadastros de clientes. Utilize os links abaixo para navegar.</p>
    <hr class="my-4">
    <p>Você pode cadastrar novos clientes ou consultar os clientes já cadastrados.</p>
    <a class="btn btn-primary btn-lg" href="/Cliente/Cadastro" role="button">Cadastro de Cliente</a>
    <a class="btn btn-secondary btn-lg" href="/Cliente/Consulta" role="button">Consulta de Cliente</a>
</div>
